<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
    <link rel="stylesheet" type="text/css" href="/static/cliente/css/estilo_tabela_listagem.css">
    <link rel="stylesheet" type="text/css" href="/static/cliente/css/estilo_menu_lateral.css">
    <link rel="shortcut icon" href="{% static '/cliente/img/icone_flor.png' %}"/>
</head>
<body>
<div id="container">
    <div id="topo">
        <h1>LISTA DE VENDAS</h1>
        <div class="menu" id="menu">
            <ul>
                <li><a href="#">Menus</a>
                    <ul>
                        <li><a href="{% url 'Cadastro Venda' %}">Cadastrar nova venda</a></li>
                        <li><a href="{% url 'Base' %}">Voltar para o in&iacute;cio</a></li>
                        <li><a href="{% url 'Home' %}">Ver menus</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="menulateral">

    </div>
    <div id="position_table">
        <table class="table_venda">
            <thead>
                <tr id="topotabela">
                    <th>NOME</th>
                    <th id="thnome">CLIENTE</th>
                    <th>PRODUTO</th>
                    <th>FUNCION&Aacute;RIO</th>
                    <th>QUANT</th>
                    <th>|VALOR TOTAL|</th>
                    <th>|DATA VENDA|</th>
                </tr>
            </thead>
            {% for Vendas in venda %}
                <tr>
                    <td><a href="{% url 'Atualizar Venda' Vendas.id_venda %}">{{ Vendas.nome_venda }}</a></td>
                    <td>{{ Vendas.cliente }}</td>
                    <td>{{ Vendas.produto }}</td>
                    <td>{{ Vendas.funcionario }}</td>
                    <td>{{ Vendas.quantidade_venda }}</td>
                    <td>{{ Vendas.valor_total }}</td>
                    <td id="tddata_venda">{{ Vendas.data_venda }}</td>
                </tr>
            {% empty %}
                <h3>Sem vendas realizadas.</h3>
            {% endfor %}
        </table>
    </div>
 </div>
</body>
</html>