<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reportar erro no sistema</title>
    <link rel="stylesheet" type="text/css" href="/static/cliente/css/estilo_relato_erro.css">
    <link rel="shortcut icon" href="{% static '/cliente/img/icone_flor.png' %}"/>
</head>
<body>
<div id="container">
    <div id="topo">
        <div id="link"><span><a href="{% url 'Base' %}">Voltar para o In&iacute;cio</a></span></div>
        <h1 id="titulo">Cadastro de Cliente</h1>
    </div>
    <div id="posiciona">
    <fieldset id="fieldset">
        <legend>Relatar Erros</legend>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <p><button type="submit">ENVIAR</button></p>
        {% if erro %}
            <a href="{% url 'Deletar Erro' erro.id_erro %}">DELETAR ERRO</a>
        {% endif%}

    </form>
        </fieldset>
    </div>
    <div id="teste">
        <div id="rodape">
            <span id="fundo">Floricultura - MiniDevs</span>
        </div>
    </div>
</div>
</body>
</html>