#container{
    position: relative;
}
#topo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background: #333;
    color: #FFFFFF;
    text-align: center;
    transition-propertiy: background;
    transition-duration: 1s;
    transition-timing-function:linear;
}
#topo:hover{
     background: #CFCFCF;
      color: #333;
}
#posiciona{

    position: relative;
    top: 80px;

}
fieldset{
    position: relative;
    width: 50%;
    height: 110%;
    text-align: center;
    margin-left: 23%;
}
#rodape{

    background-color: #333;
    color: #FFFFFF;
    position: relative;
	bottom: 0;
	top: 170px;
	width: 100%;
	height: 80px;
	text-align: center;

}
input{
    float: right;
    width: 50%;
    height: 22px;
    margin-right: 5%;

}
textarea{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}
input:hover{
    border-color: #1E90FF;

}

button{
   position: relative;
   text-align: center;
   size: 10px;
   font-family: arial;
   background: #333;
   color: #FFFFFF;
   width: 120px;
   height: 30px;
   margin-top: 2%;
   margin-left: 72%;
}
button:hover{

    background: #000000;
}

#link{
    position: relative;

}
span a{
    float: left;
    color: #FFFFFF;

}
span a:hover{
   color: #333;
}