body{
    background:#8B658B ;

}
#corpo{
    width: 100%
    position: relative;

}
#conteudo_corpo{
    position: relative;
    border: 1px solid #DDFF00;
    width: 100%;
    height: 12vw;
    margin-top: 20%;
    text-align: center;

}
#nome_loja{
    position: relative;
    font-family: Back jack;
    color: #EEE8AA;
    font-size: calc(12vw - 40px);
    transition-propertiy: color;
    transition-duration: 0.5s;
    transition-timing-function:linear;
}
#nome_loja:hover{
      color: #333;
}

